a {
  text-decoration: none;
  font-size: 12px;
}

h2 {
  font-size: 16px;
  font-weight: normal;
}

ul, li { list-style: none; }

#container {
  width: 980px;
  margin: 0px auto;
  padding: 16px;
  border: 1px solid #bcbcbc;
}

#header {
  text-align: center;
  margin-top: 12px;
  margin-bottom: 16px;
  border: 1px solid #bcbcbc;
}

#header-nav {
  position: relative;
  text-align: right;
  border: 1px solid #bcbcbc;
}

#header-nav a {
  margin: 0 14px;
}

#main {
  zoom: 1;
  border: 1px solid #bcbcbc;
  margin-bottom: 16px;
}

#main:after {
  clear: both;
  content: "";
  display: block;
}

#icon-nav {
  zoom: 1;
  width: 980px;
  margin-bottom: 12px;
  text-align: center;
}

#icon-nav li {
  width: 20%;
  float: left;
}

#icon-nav:after {
  clear: both;
  content: "";
  display: block;
}

#content {
  width: 610px;
  padding: 20px;
  margin-bottom: 16px;
  float: left;
  border: 1px solid #bcbcbc;
}

.board {
  width: 290px;
  float: left;
}

.board ul li {
  padding-left: 12px;
}

#login-box {
  width: 260px;
  padding: 16px;
  margin-bottom: 16px;
  float: right;
  border: 1px solid #bcbcbc;
}

#login-form {
  margin-bottom: 4px;
}

#login-form:after {
  clear: both;
  content: "";
  display: block;
}

#login-input {
  width: 146px;
  float: left;
  margin-right: 4px;
}

#login-input input[type="text"] {
  width: 140px;
  height: 16px;
  margin-bottom: 2px;
  border: 1px solid #bcbcbc;
}

#login-submit {
  float: left;
}

#login-submit input[type="submit"] {
  height: 52px;
}

#search-new a {
  margin-right: 12px;
}

#sidebar {
  width: 260px;
  padding: 16px;
  margin-bottom: 16px;
  float: right;
  border: 1px solid #bcbcbc;
}

.banner {
  width: 260px;
  border: 1px solid #bcbcbc;
  height: 96px;
}

#footer {
  clear: both;
  padding: 16px;
  border: 1px solid #bcbcbc;
}

#bar-nav {
  zoom: 1;
  text-align: center;
  border: 1px solid #bcbcbc;
  margin-bottom: 16px;
}

#bar-nav ul {
  margin: 0;
}

#bar-nav ul li {
  width: 25%;
  float: left;
}

#bar-nav:after {
  clear: both;
  content: "";
  display: block;
}